

<tr>
            <td><%= school %></td>
            <td><%= name %></td>
            <td><%= effect %></td>
            <td><%= description %></td>
            <td><%= prereq.misc_req %></td>
            <td><%= prereq.skill_req %></td>
            <td><%= prereq.stat_req %></td>
           
 </tr>